{{ define "main" }}
<div class="row justify-content-center"> <!--col-lg-11 col-md-12 col-lg-10 col-xl-8-->
  <div class="docs-content col-lg-11"> <!--mx-xl-auto-->
    {{ with .Params.center -}}
    <main style="text-align: center;">
    {{ else -}}
    <main style="text-align: none;">
    {{ end -}}
      <article>
        <h1>{{ .Title }}</h1>
        {{ partial "main/docs-meta.html" . }}
        <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ partial "main/headline-hash.html" .Content }}
      </article>
    </main>
  </div>
</div>
{{ end }}