<div class="row justify-content-center" role="progress">
  {{ if (eq (.Get "secondaire") "true") }}
    <div class="col-lg-3">
      <p>{{ .Get "text" }}</p>
    </div>
    <div class="col">
      <progress id="secondaire" class="progress" style="height: 1.5rem; width: 100%; border-radius: 1rem;" value='{{ .Get "value" }}' max="100">{{ .Get "value" }}</progress>
    </div>
  {{ else }}
    <h5>{{ .Get "text" }}</h5>
    <div style="padding: 0 1.5rem"><progress class="progress" style="height: 2rem; width: 100%; border-radius: 1rem;" value='{{ .Get "value" }}' max="100">{{ .Get "value" }}</progress></div>
  {{ end}}
</div>
